.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}
.content{
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    display: flex;
}
li{
    list-style: none;
}
h2,h3,p{
    margin: 0;
}
@media(max-width:768px){
    .container{
        padding: 0px;
    }
    .content{
        padding: 16px 20px;
        box-sizing: border-box;
    }
}
.page-header{
    padding: 24px 0px;
}
.page-header .content{
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
@media(max-width:768px){
    .page-header{
        border-bottom: 2px solid #FFD153;
    }
    .page-header .content{
        padding: 0px 20px;
    }
}
.header-logo{
    width: 220px;
    height: 40px;
}
h1{
    margin: 0;
}
h1 span{
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}
.img-block{
    display: block;
}
.img-block img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}
@media(max-width:768px){
    .header-logo_img img{
       width: 130px;
       height: 24px;
    }
}
.header-turn .turn-money{
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 32px;
    display: block;
}
/* banner */
.banner .content{
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.banner-block{
    width: 100%;
}
.banner-img{
    display: block;
}
.banner h2{
    font: normal normal bold 18px/26px Noto Sans TC;
    color: #56C4C5;
    margin-top: 0;
    margin-bottom: 8px;
}
.banner-text p{
    font: normal normal bold 48px/70px Noto Sans TC;
    color: #221E1F;
    margin: 0;
}
.banner-text span{
    font: normal normal normal 20px/29px Noto Sans TC;
    color: #221E1F;
}
@media(max-width:768px){
    .banner .content{
        flex-wrap: wrap;
    }
}
.page-main{
    padding-top: 217px;
}
/* platform */
.platform{
    margin-bottom: 100px;
}
.platform .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platform-title{
    margin-bottom: 48px;
}
.platform-item, .item-card{
    display: flex;
    align-items: center;
}
.item-card{
    flex-direction: column;
}
.item-card{
    margin-right: 126px;
}
.item-card:last-child{
    margin-right: 0;
}
.item-card_img{
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
}
.item-card_title{
    margin: 0px 0px 24px 0px;
}
.item-card_title h4{
    font: normal normal bold 24px/35px Noto Sans TC;
    color: #221E1F;
    margin: 0;
}
.item-card_text p{
    margin: 0;
    text-align: center;
}
@media(max-width:768px){
    .page-main{
        padding-top: 60px;
    }
    .platform-title{
        margin-bottom: 32px;
    }
    .platform-item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .item-card{
        margin-right: 0;
        margin-bottom: 24px;
    }
    .item-card:last-child{
        margin-bottom: 0px;
    }
    .item-card_img{
        margin-bottom: 16px;
    }
    .item-card_img, .item-card_img img{
        width: 60px;
        height: 60px;
    }
    .item-card_title{
        margin: 0px 0px 16px 0px;
    }
}
/* character */
.character{
    margin-bottom: 60px;
}
.character .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.character-title{
    margin-bottom: 48px;
    text-align: center;
}
.character-title h2{
    margin-bottom: 16px;
}
.character-item{
    justify-content: center;
    width: 100%;
}
.character-card{
    margin-right: 16px;
    border-radius: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    flex: 1 1 0;
    width: 260px;
}
.character-card:last-child{
    margin-right: 0;
}
.character-card_img img{
    width: 100%;
    height: 100%;
}
.character-card_img, .character-card_img img{
    border-radius: 12px 12px 0px 0px;
}
.character-card_desc .content{
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}
.character-card_title{
    padding-bottom: 16px;
}
.character-card_title h3{
    font: normal normal bold 16px/24px Noto Sans TC;
    color: #56C4C5;
}
.character-card_text{
    text-align: center;
}
@media(max-width:768px){
    .character-item{
        flex-wrap: wrap;
    }
    .character-card{
        flex: unset;
        margin-bottom: 24px;
    }
}
/* brand */
.brand{
    margin-bottom: 100px;
}
.brand .content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.brand h2{
    font: normal normal bold 32px/46px Noto Sans TC;
    color: #221E1F;
    margin: 0;
}
.brand h2 span{
display: block;
}
.brand-item{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 0;
    margin: 0;
}
.brand-title{
    /* width: 50%; */
}
.brand-title_desc{
    margin-bottom: 24px;
}
.brand-title p{
    margin: 0;
    font: normal normal normal 18px/26px Noto Sans TC;
    color: #221E1F;
}
.brand-card{
    width: calc(50% - 47px);
    height: 280px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin: 0px 47px 28px 0px;
    padding: 32px;
    box-sizing: border-box;
}
.brand-card:nth-child(even){
    margin-right: 0;
}
.brand-card:nth-child(3), .brand-card:nth-child(4){
    margin-bottom: 0;
}
.brand-card_img{
    margin-bottom: 24px;
}
.brand-card_title{
    margin-bottom:16px ;
}
.brand-card_title h3{
    font: normal normal bold 18px/26px Noto Sans TC;
    color: #221E1F;
}
.brand-card_text h4{
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    margin: 0;
}
@media(max-width:768px){
    .brand{
        margin-bottom: 60px;
    }
    .brand .content{
        justify-content: center;
        flex-wrap: wrap;
    }
    .brand-title{
        text-align: center;
        margin-bottom: 32px;
    }
    .brand h2{
        margin-bottom: 16px;
    }
    .brand-card{
        width: 100%;
        margin: 0px 0px 24px 0px;
    }
    .brand-card:nth-child(3){
        margin-bottom: 24px;
    }
    .brand-card:nth-child(4){
        margin-bottom: 0px;
    }
    .brand-title .footer-turn .turn-money{
        margin: auto;
    }
}
/* comment */
.comment{
    margin-bottom: 100px;
}
.comment .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comment-title{
    margin-bottom: 104px;
}
.comment-item{
    display: flex;
    margin-bottom: 24px;
}
.comment-card{
    margin-right: 16px;
    padding: 48px 32px 16px 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    position: relative;
}
.comment-card_img{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -54px;
    /* transform: translateY(-105px); */
}
.comment-card_img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.comment-card_desc{
    padding-bottom: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.comment-card_desc p{
    margin: 0;
}
.comment-card_title .content{
    flex-direction: row;
    justify-content: space-between;
}
.commemt-company{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}
.commemt-company h3{
    margin-bottom: 8px;
    font: normal normal bold 16px/24px Noto Sans TC;
    color: #221E1F;
}
.commemt-score{
    align-self: flex-end;
}
.commemt-star{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8.22px;
}
.commemt-star:last-child{
    margin-right: 0px;
}
.comment-pagelist{
    display: flex;
    justify-content: center;
}
.comment-page{
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    margin: 0px 4px;
    border-radius: 10px;
}
.comment-pagelist .active{
    width: 16px;
    height: 10px;
    background: #FFD153 0% 0% no-repeat padding-box;
    border-radius: 50px;
    margin: 0px 4px;
}
@media(max-width:768px){
    .unactive{
        display: none;
    }
    .comment-card_title .content{
        padding: 0;
    }
    .comment-title{
        margin-bottom: 88px;
    }
}
/* footer */
/* footer{
    bottom: 0;
} */
footer{
    display: flex;
    flex-direction: column;
}
.footer-banner{
    width: 100%;
    height: 503px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}
.footer-banner-cost{
    /* position: absolute;
    left: 33%;
    bottom: 48px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
}
.footer-banner-cost p{
    margin-bottom: 48px;
    font: normal normal bold 32px/46px Noto Sans TC;
}
.footer-turn .turn-money{
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 22px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 12px 32px;
    display: block;
    width: 136px;
    height: 49px;
    box-sizing: border-box;
}
.company{
    background-color: #F5F5F5;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company p{
    margin: 0;
    font: normal normal normal 16px/24px Noto Sans TC;
    color: #221E1F;
}
@media(max-width:768px){
    .footer-banner{
        height: 461px;
        background-position: top;
        background-size: unset;
    }
    .footer-banner-cost p{
        /* left: 18%; */
        margin-bottom: 24px;
    }
    .footer-banner-cost p{
        font: normal normal bold 24px/35px Noto Sans TC;
    }
}



























